@charset "UTF-8";

.info h1 {
  text-align: left;
  font-size: 70px;
  margin: 0;
  padding-top: 5rem;
}

.info p {
  text-align: left;
  font-size: 31px;
  margin: 0;
  width: 80%;
}

.skills {
  text-align: center; /* Center the text */
}

.skills h1 {
  text-align: left;
  font-size: 70px;
  padding-top: 50px;
  margin: 0;
}

.skills h2 {
  text-align: left;
  font-size: 40px;
  padding-top: 20px;
}

.frontend, .backend, .frontend ul, .backend ul {
  display: block;
  text-align: left;
}

.frontend, .backend {
  width: 25%;  /* This assumes you want some space between them, adjust as needed */
  flex: 1; /* Each section takes up equal width */
  box-sizing: border-box; /* This ensures that padding and borders are included in the element's total width and height */
  padding: 1rem; /* Add some padding around the content of each section */
}


.frontend li, .backend li {
  font-size: 30px; /* Or whatever size you desire */
}

.resume h1 {
  text-align: left;
  font-size: 70px;
  padding-top: 50px;
  margin: 0;
}

.resume img {
  width: 30%;
  max-width: 100%;
  padding-bottom: 1rem;
}

.socials {
  display: flex;
  justify-content: space-around;  /* This will space out the elements evenly */
}

.socials p {
  padding-top: 20px;
  display: inline-block;
}

.socials a {
  text-decoration: none;
  color: black;
  transition: color 0.1s ease-in-out;
}

.socials a:hover {
  color: grey;
}

.my-skills {
  display: flex; /* Using flex to lay out the front-end and back-end sections side-by-side */
  flex-wrap: wrap; /* Allow the items to wrap below each other if there's not enough space */
  gap: 1rem; /* Gap between the front-end and back-end sections */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .info h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 3rem;
  }

  .info p {
    text-align: center;
    font-size: 31px;
    width: 100%;
  }

  .skills h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 3rem;
  }

  .skills h2 {
    font-size: 2rem;
    padding-top: 20px;
  }

  .my-skills {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .frontend li, .backend li {
    font-size: 20px;
  }
}

@media only screen and (min-width: 391px) and (max-width: 768px) {
  .info h1 {
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding-top: 3rem;
  }

  .info p {
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-top: 1rem;
  }

  .skills h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 3rem;
  }

  .skills h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
  }

  .my-skills {
    display: flex;
    justify-content: center;
  }

  .frontend li, .backend li {
    font-size: 20px;
  }

  .resume h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    margin: 0;
  }
  .navbar ul {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 390px) {
  .info h1 {
    text-align: center;
    font-size: 70px;
    margin: 0;
    padding-top: 3rem;
  }

  .info p {
    text-align: center;
    font-size: 20px;
    width: 100%;
    padding-top: 1rem;
  }

  .skills h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 3rem;
  }

  .skills h2 {
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
  }

  .my-skills {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }

  .resume h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 50px;
    margin: 0;
  }

  .resume img {
    padding-top: 3rem;
  }

  .navbar ul {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 290px) {}
